.container{
    width:400px;
    height: 100%;
    border: 2px solid rgb(226, 22, 22);
    margin:auto;
    padding:5px;
    border-radius: 25px;
    background-color: antiquewhite;
}
.container h1{
    text-align: center;
    color: rgb(150, 150, 10);
}
hr{
    height: 2px;
    border: 1px solid brown;

}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.taskinp {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#button-add{
    margin: auto;
    padding: auto;
    justify-content:center;
    margin-top: 10px;
}

.forempty{
    text-align: center;
    border: 2px solid blue;
}
.forempty b{
    color: red;
}
.tasklist{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.decor{
    border: 4px solid rgb(67, 146, 24);
    padding:2px;
    margin:5px;
    width:20em;
    height: auto;
    overflow-wrap: break-word;
    border-radius: 10px;
}

button{
    border-radius: 10px;
    width:100px;
    height: 25px;
    color: blue;
    background-color: aquamarine;
}
button:hover{

    background-color: aqua;
    color: blueviolet;
}

textarea{
    background-color: bisque;
    border: 2px,solid,black;
    border-radius: 10px;
}
